body {
    height: 97.5vh;
    background-image: linear-gradient(to right top, #000000, #1f161b, #352533, #473650, #514b72, #4d4e81, #455291, #3356a1, #20469f, #0d359c, #042196, #0c008e);
    background-size: cover;
    background-repeat: no-repeat;
}
.phone{
    display: inline-block;
    width: 200px;
    height: 350px;
    background-color: blue;
    border: 10px solid black;
    padding: 9x;
    text-align: center;
    font-weight: bold;
}
.cell-0 {
    display: block;
    width: 180x;
    height: 50x;
    background-color: white;
    padding: 9px;
    border: 1px solid black
}
.cell-25 {
    display: block;
    width: 180x;
    height: 50x;
    background-color: yellow;
    padding: 9px;
    border: 1px solid black
}
.cell-50 {
    display: block;
    width: 180x;
    height: 50x;
    background-color: green;
    padding: 9px;
    border: 1px solid black
}
.cell-75 {
    display: block;
    width: 180x;
    height: 50x;
    background-color: orange;
    padding: 9px;
    border: 1px solid black   
}
.cell-100 {
    display: block;
    width: 180x;
    height: 50x;
    background-color: red;
    padding: 9px;
    border: 1px solid black
}
