body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    height: 100vh;
    background-image: linear-gradient(to right top, #000000, #1f161b, #352533, #473650, #514b72, #4d4e81, #455291, #3356a1, #20469f, #0d359c, #042196, #0c008e);
    background-size: cover;
    background-repeat: no-repeat;
}
.conteiner {
    display: block;
    width: 200px;
    height: 350px;
}
.phone {
    display: inline-block;
    width: 200px;
    height: 350px;
    border: 3px solid black;
    font-weight: bolder;
    text-align: center;
}
.bar {
    display: block;
    width: 100%;
    height: 100%;
    animation-name: phone;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes phone {
    0% {
        background-color: white;
    }
    25% {
        background-color: green;
    }
    50% {
        background-color: yellow;
    }
    75% {
        background-color: orange;
    }
    100% {
        background-color: red;
    }
}
.cell {
    display: inline-block;
    width: 100%;
    height: 20%;
}