body {
    height: 97.5vh;
    background-image: linear-gradient(to right top, #000000, #1f161b, #352533, #473650, #514b72, #4d4e81, #455291, #3356a1, #20469f, #0d359c, #042196, #0c008e);
    background-size: cover;
    background-repeat: no-repeat;
}
.phone{
    display: inline-block;
    width: 200px;
    height: 350px;
    border: 3px solid black;
    padding: 9x;
    text-align: center;
    font-weight: bolder;
}
.bar {
    display: block;
    width: 194px;
    height: 344px;
    padding: 2px;
    animation-name: phone;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes phone {
    0% {
        background-color: white;
        border: 1px solid black
    }
    25% {
        background-color: green;
        border: 1px solid black
    }
    50% {
        background-color: yellow;
        border: 1px solid black
    }
    75% {
        background-color: orange;
        border: 1px solid black 
    }
    100% {
        background-color: red;
        border: 1px solid black
    }
}
